* {
    margin: 0rem;
    padding: 0;
}

.navbar {
    font-family: "Madimi One", sans-serif;
    background: linear-gradient(45deg, rgb(246, 245, 248) 0%, rgb(63, 253, 29) 50%, rgb(69, 240, 252) 100%);
}

.navbar-collapse {
    justify-content: right;
}

body {
    background-image: url(../images/3418448.jpg);
    
}

.opening {
    color: #0dcaf0;
    max-width: 100%;
    position: absolute;
    top: 25%;
}

h1 {
    font-family: "Madimi One", sans-serif;
    text-align: center;
}

.search-bar {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    max-width: 60%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#btn1 {
    padding: 0%;
    float: left;
    margin-left: 5px;
}

div#btn2 {
    padding: 0%;
    float: right;
    margin-right: 5px;
}

.button {
    background-color: darkorchid;    
    border: 0 solid #E5E7EB;
    border-radius: 16px;
    box-sizing: border-box;
    color: #0dcaf0;
    display: flex;
    font-family: "Madimi One", serif;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
      
.button:focus {
        outline: 0;
}
      
.button:after {
        content: '';
        position: absolute;
        border: 1.5px solid #024038;
        border-radius: 16px;
        bottom: 4px;
        left: 4px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
}
      
.button:hover:after {
        bottom: 2px;
        left: 2px;
}
      
      @media (min-width: 768px) {
        .button {
          padding: .75rem 3rem;
          font-size: 1.25rem;
        }
      }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    background-color: #0dcaf0;
}